/* Reset styles */
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;

  padding: 0;

  list-style: none;
}

a {
  color: currentColor;

  text-decoration: none;
}

button {
  cursor: pointer;

  border: none;
}

img {
  display: block;

  max-width: 100%;

  height: auto;
}

body {
  margin: 0;

  font-family: "Montserrat", sans-serif;
}

/* Styles for active link */
.active {
  color: rgb(226, 186, 71);
}
button {
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  &:hover {
    background-color: #0056b3;
  }
}
